text {
  fill: #fff;
}

text.title {
  font-size: 24px;
}

circle.tick {
  fill: #f3f3f3;
  stroke: #999;
  stroke-dasharray: 2 3;
}

path.spiral {
  fill: none;
  stroke: #ee8d18;
  stroke-width: 3px;
}

.tooltip {
  font-size: 12px;

  position: absolute;
  z-index: 10;
  top: 95px;
  left: 130px;

  display: block;

  padding: 10px;

  text-align: center;

  opacity: 0;
  color: #333;
  background: #eee;
  box-shadow: 0 0 5px #999;
}
