.axis text {
  font: 10px sans-serif;

  fill: #f3f3f3;
}

.axis line,
.axis circle {
  fill: none;
  stroke: steelblue;
  stroke-dasharray: 4;
}

.axis:last-of-type circle {
  stroke: steelblue;
  stroke-dasharray: none;
}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 3px;
}

.semslable {
  width: 300px;

  color: #f3f3f3;
}

.tooltip {
  font-size: 12px;

  position: absolute;
  z-index: 10;
  top: 95px;
  left: 130px;

  display: block;

  padding: 10px;

  text-align: center;

  opacity: 0;
  color: #333;
  background: #eee;
  box-shadow: 0 0 5px #999;
}

.entropy {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 200px;
  height: 200px;
  margin: auto;

  background: #fff;
}
