/* 散点图的样式 */
.axis text {
  font: 10px sans-serif;

  fill: #f3f3f3;
}

.axis line,
.axis circle {
  fill: rgba(170, 171, 211,0.6);
  stroke: #AAABD3;
  stroke-dasharray: 4;
}

.axis:last-of-type circle {
  stroke: #AAABD3;
  stroke-dasharray: none;
}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 3px;
}

.semslable {
  width: 300px;

  color: #f3f3f3;
}

.tooltip {
  font-size: 12px;

  position: absolute;
  z-index: 10;
  top: 95px;
  left: 130px;

  display: block;

  padding: 10px;

  text-align: center;

  opacity: 0;
  color: #333;
  background: #eee;
  box-shadow: 0 0 5px #999;
}

.entropy {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 200px;
  height: 200px;
  margin: auto;

  background: #fff;
}

/* 雷达图的样式 */
.webs polygon,
.lines line {
    fill: rgba(128, 136, 138,0.6);
    fill-opacity: 0.5;
    stroke: rgba(128, 136, 138,1);
    /* stroke-dasharray: 10 5; */
}
.webs polygon:nth-child(odd) {
    fill: rgba(128, 136, 138,0.6);
}
.areas polygon {
    fill-opacity: 0.5;
    stroke-width: 3;
}
.circles circle {
    fill: rgba(252,211,3, 1);
    stroke:rgba(252,211,3, 0.5);
    stroke-width: 0.5;
}
.texts text {
    text-anchor: middle;
}

.star-tool {
  font-size: 12px;
  position: absolute;
  z-index: 10;
  top: 95px;
  left: 130px;
  display: block;
  padding: 10px;
  text-align: center;
  opacity: 0;
  color: #333;
  background: #eee;
  box-shadow: 0 0 5px #999;
}