.bloom {
  display: flex;
  flex-direction: column;
}

.river {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-top: 20px;
}

.river span {
  margin-right: 20px;
}

.river .xAxis .tick line {
  z-index: 99;

  stroke: #34314c;
}

.bloom-label {
  font-size: 30px;
  font-weight: bold;

  position: relative;
  top: -80px;

  text-align: center;

  opacity: .5;
  color: #ccc;
}

.axis path,
.axis line {
    stroke: #000;
    fill: none;
}
.bubble {
    fill: #2ec7c9;
    fill-opacity: 0.5;
}