.general-container {
  display: flex;
  align-items: stretch;
  /* flex-direction: row; */
  flex-direction: column;
  justify-content: center;

  margin: 5px;

  border: 1px solid #fff;
  border-radius: 3px;
}

.general-container .row {
  display: flex;
  align-content: stretch;
  flex-basis: 47.5%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;;
}

.group-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  /* flex-direction: column; */
  justify-content: center;

  margin: 5px;

  border: 1px solid #fff;
  border-radius: 3px;
}

.group-container .row {
  display: flex;
  align-content: stretch;
  flex-basis: 47.5%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;;
}

.redar-container {
  display: flex;
  align-items: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-wrapper
/* .heatmap,
.parallel,
.river,
.sankey,
.filter,
.redar  */
{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  margin: 10px;

  border-radius: 5px;
  background: rgba(117, 117, 117,.2);
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);
}

.redar {
  flex-basis: 280px;
  flex-grow: 1;
  flex-shrink: 1;

  box-sizing: border-box;
  width: 30%;
}

.heatmap {
  position: relative;
}

.person {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  /* justify-content: space-around; */

  margin: 5px;

  border: 1px solid #fff;
  border-radius: 3px;
}

.person .row {
  display: flex;
  flex-direction: row;
}

.filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cate-button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 30%;
  height: 5%;
  margin: 10px;

  cursor: pointer;
  text-align: center;

  color: #fff;
  border-radius: 4px;
  background: rgba(255,255,255,.2);
}

.riverToggle {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.info span{
  color:#fff;
  font-size: 14px;
  display: block;
  padding:4px 10px;
}
