body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;

  margin: 40px;
  /* background-color:#34314c; */

  background-color: #34314c;
}

.index {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  /* flex-direction: column; */
  justify-content: center;
}
